header{
    border: 1px solid red;
    width: 100%;
    height: 50px;
}


nav{
    width: 50%;
    height: 100%;
    border: 1px solid green;
}

ul{
    width: 100%;
    height: 100%;
    border: 1px solid coral;
}

li{
    all: unset;
    display: inline-block;
    width: 19%;
    height: 100%;
    border: 1px solid green;
    text-align: center;
}